/* .logo {
  width:16.25rem
} */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Audiowide&family=Big+Shoulders+Inline+Display&family=Black+Ops+One&family=Fugaz+One&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
body{

    font-family: 'Akaya Kanadaka', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Big Shoulders Inline Display', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Monoton', cursive
}

 li a {
  color: var(--primary-white)!important;
}

/*  navbar  */

nav{
  z-index: 2;
}

/********  Header  *************/
.header-warper{
  position: relative;
  background: url(../src/Components/header-img.jpg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display:flex;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  z-index: 1;
  text-decoration: none;
}

.main-info h1 {
    color: var(--primary-orange);
    text-transform: uppercase;
}
@media(max-width: 768px){
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}
/*------------ Typed Text ----------*/

.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/* Header main offer button */

.btn-main-offer{
  border: 1px solid var(--primary-pink);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  text-decoration: none;
}

.btn-main-offer:hover{
  background-color: var(--primary-orange);
  color: var(--primary-white);
  z-index: 1;
  text-decoration: none;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

@media(max-width: 768){
  .tsparticles-canvas{
    display: none;
  }
}